<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\hobas\Desktop\itra\КП\Staff\Staff\DBStaff.mdf;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
		<add name="Staff.Properties.Settings.DBStaffConnectionString"
		 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DBStaff.mdf;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>